{% block page_header %}
  {% if page.header %}
    <header class="header container-lg">
      {{ page.header }}
    </header>
  {% endif %}
{% endblock %}

{% block page_messages %}
  {% if page.messages %}
    <div class="container">
      {{ page.messages }}
    </div>
  {% endif %}
{% endblock %}

<main role="main">
  {% block page_content_above %}
    {{ page.content_above }}
  {% endblock %}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {% block page_breadcrumb %}
    {% if page.breadcrumb %}
      <div class="container">
        {{ page.breadcrumb }}
      </div>
    {% endif %}
  {% endblock %}

  {% block page_content %}
    {{ page.content }}
  {% endblock %}

  {% block page_content_below %}
    {{ page.content_below }}
  {% endblock %}
</main>

{% block page_footer %}
  {{ page.footer }}
{% endblock %}
